:root {
  --black: #0d0d0d;
  --light-black: #151515;
  --darkest-gray: #1e1e1e;
  --darker-gray: #2a2a2a;
  --dark-gray: #393939;
  --gray: #505050;
  --light-gray: #a0a0a0;
  --dark-white: #b7b7b7;
  --white: #d9d9d9;
}
